:root{
    --font1:'Inconsolata', monospace;
    --font2:'Space Mono', monospace;
}
*,::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header,.main{
    width: 90%;  
    margin: 40px auto;      
    
}

.header__content_title{
    font-family: var(--font1);
    font-size:24px;        
    letter-spacing: -0.08em;
    font-weight: 700;
}

.main__content{
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}
.main__img img{
    width: 500px;
    height: 450px;    
}
.main__text{
    width: 670px; 
}
.main__text-title{
    font-family: var(--font2);
    font-weight: 700;
    font-size: 64px;    
    line-height: 80px;    
    letter-spacing: -0.035em;
    color:#333333;
}
.main__text-parrafo{
    width: 400px;
    height: 100px;    
    font-family: var(--font2);
    font-weight: 400;
    line-height: 35.54px;
    color:#4F4F4F;
    font-size: 24px;
    letter-spacing: -3.5%;
    margin-top: 36px;
    
}
.main__boton{
    background-color: #333333;
    color:white;
    text-decoration: none;
    display: inline-block;
    margin-top: 55px;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font2);
    padding: 15px 30px;

}
.footer-contain {
    display: flex;
    justify-content: center;
}
.footer-contain p{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    margin-top: 293px;
    padding: 30px 0px;
    line-height: 17.07px;
    
}